body{
    background: #F9F9F9;
}
label{
    margin-left:15px;
}

.form-group{
    border-bottom: 1px solid #D8DEE2
}
.form-control{
    margin-left:auto;
    margin-right: auto;
    width: 90%;
}

.logIn-box{
    background: #FFFF;
    border: 1px solid #D8DEE2;
    font-family: Arial, Helvetica, sans-serif;
    width:25%;
    height:40%;
    border-radius: 5px;
    margin:5% auto 0 auto;
}

#submitBtn{
    margin:0px auto 20px auto;
}

.clear{
    clear: both;
}

#logIn-img{
    margin: 20px auto 20px auto;
    display: block;
}

#resetPsw{
    float:right;
    margin-right: 15px;
}

a:link{
    text-decoration: none;
}

#submitBtn{
    position:relative;
    left:15px;
    width: 270px;
}

#register{
    margin-top:10px;
    height: 40px;
    text-align: center;
}

#createAcc{
    position: relative;
    top:10px;
}

#message-box{
    margin-top:10px;
    height: 40px;
    text-align: center;
    background: #FFEBE8;
    border: 1px solid #D52727;
    color:#D52727;
    border-radius: 5px;
}

#errMessage{
    position: relative;
    top:10px;
}
