body{
    background: #F9F9F9;
}
label{
    margin-left:15px;
}

.form-control{
    margin-left:15px;
    width: 90%;
}

.logIn-box{
    background: #FFFF;
    border: 1px solid #D8DEE2;
    font-family: Arial, Helvetica, sans-serif;
    width:300px;
    height:300px;
    border-radius: 5px;
    margin:100px auto 0 auto;
}

.submit-button{
    background: firebrick;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    margin-left:70px;
}

#resetPsw{
    float:right;
    margin-right: 15px;
}

a:link{
    text-decoration: none;
}

#submitBtn{
    position:relative;
    left:15px;
    width: 270px;
}

#register{
    margin-top:10px;
    height: 40px;
    text-align: center;
}

#createAcc{
    position: relative;
    top:10px;
}

#message-box{
    margin-top:10px;
    height: 35px;
    width: 500px;
    text-align: center;
    background: #FFEBE8;
    border: 1px solid #D52727;
    color:#D52727;
    border-radius: 5px;
}

#message{
    position: relative;
    top:5px;
}

.rel-box{
    position: relative;
}

.rel-box>*{
    float: left;
    clear: both;
}


#panel-title>a{
    color: #E7E9EB;
}