.checkRegister{
    float: left;
    margin-left:50px;
}

.clear{
    clear:both;
}

#email{
    width: 400px;
}

#submit-btn{
    float:left;
    margin-top:5px;
    width: 400px;
}

#message-box{
    margin-top:50px;
    height: 40px;
    width:400px;
    text-align: center;
    background: #FFEBE8;
    border: 1px solid #D52727;
    color:#D52727;
    border-radius:5px;
}

#errMessage{
    position: relative;
    top:5px;
}