.form-group{
    width: 100%;
    float: left;
}

.clear{
    clear: both;
}

#addArticleForm{
    width: 80%;
}

#find{
    margin-top:6%;
    float: right;
}

#mainContent{
    width: 100%;
}

#submit{
    width: 100%;
}

#message-box{
    margin-top:10px;
    height: 40px;
    text-align: center;
    background: #FFEBE8;
    border: 1px solid #D52727;
    color:#D52727;
    border-radius: 5px;
}

#errMessage{
    position: relative;
    top:5px;
}
